<%= form_with model: @user, local: true do |form| %>
  <%= render 'shared/errors', resourse: @user %>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email, id: :user_email %><br>
  </p>

  <p>
    <%= form.label :password %><br>
    <%= form.text_field :password, id: :user_password %><br>
  </p>

  <p>
    <%= form.label :password_confirmation %><br>
    <%= form.text_field :password_confirmation, id: :user_password_confirmation %><br>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<p>
  Already registed?
  <%= link_to 'Login', login_path %>
</p>
