<div class="row justify-content-center">
  <h1>Pass the <%= @test_passage.test.title %> Test</h1>
</div>

<div class="row justify-content-center">
  <p  class="font-weight-bold">
    <%= @test_passage.current_question.body %>
  </p>
</div>

<div class="row justify-content-center">
  <%= form_with url: test_passage_path(@test_passage), local: true, method: :patch do |form| %>
    <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
      <p>
        <%= b.check_box id: "answer_ids_#{b.object.id}" %>
        <%= b.label %>
      </p>
    <% end %>
</div>

<div class="row justify-content-center">
    <p>
      <%= form.submit 'Next', class:"btn btn-info" %>
    </p>
</div>

<div class="row justify-content-center">
  <p>
    <%= @test_passage.question_index %>/<%= @test_passage.test.questions.count %>
    <%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %>
    <%= form.submit 'Next' %>
  </p>
  
  <% end %>
</div>

