<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <div class="form-group col-sm-6">
  <p>
    <%= form.label t('.title') %>
    <%= form.text_field :title, id: :test_title, class: 'form-control' %>
  </p>

  <p>
    <%= form.label t('.level') %>
    <%= form.number_field :level, id: :test_level, class: 'form-control' %>
  </p>

  <p>
    <%= form.label t('.category_id') %>
    <%= form.collection_select :category_id,  Category.all, :id, :title %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
  </div>
<% end %>

<%= link_to t('.back'), admin_tests_path, class: 'nav-link' %>
