<div class="row justify-content-center">
  <h1><%= t('.tests') %></h1>
</div>

<div class="row justify-content-center">
  <p>
    <%= link_to t('.new_test'), new_admin_test_path %>
  </p>
</div>

<div class="row col-md-6 offset-md-3 table-responsive-sm">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th><%= t('.title') %></th>
        <th><%= t('.level') %></th>
        <th><%= t('.questions') %></th>
        <th colspan="4"><%= t('.action') %></th>
      </tr>
    </thead>

    <%= render @tests %>
  </table>
</div>
