<strong>
	<%= t('.test_title') %>
	<%= @test.title %><br>
	<%= t('.test_level') %>
	<%= @test.level %><br>
	<%= t('.questions') %><br>
</strong>

<p>
  <%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
</p>

<table>
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</table>

<%= link_to t('.edit'), edit_admin_test_path(@test) %>
<%= link_to t('.delete'), admin_test_path(@test), method: :delete, data: {confirm: t('.confirm')} %>
  <br>

<%= link_to t('.back'), admin_tests_path %>
