<strong>Test title:<%= @test.title %><br>
Test level:<%= @test.level %><br>

Questions:<br>

<table>
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</table>

<%= link_to 'Edit', edit_admin_test_path(@test) %>
<%= link_to 'Delete', admin_test_path(@test), method: :delete, data: {confirm: 'Are you sure?'} %>
  <br>

<%= link_to 'Back', admin_tests_path %>
