<h1>
  <%= t('.tests') %>
</h1>

<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.question') %></th>
    <th><%= t('.action') %></th>
  </tr>

  <%= render @tests %>
</table>
