<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p class = "nav user">
      Welcome, <b><%= current_user.email %></b>
      <%= link_to 'Guru', root_path %>
      <%= link_to 'Exit', destroy_user_session_path, method: :delete %></p>
    <% end %>

  <%= yield %>

  <%= render 'layouts/footer' %>
  </body>
</html>
